Adafruit-Blinka==5.0.1
adafruit-circuitpython-busdevice==4.3.1
adafruit-circuitpython-motor==3.1.1
adafruit-circuitpython-pca9685==3.3.1
adafruit-circuitpython-register==1.8.1
adafruit-circuitpython-servokit==1.2.1
Adafruit-PlatformDetect==2.13.3
Adafruit-PureIO==1.1.5
certifi==2020.4.5.1
chardet==3.0.4
ffmpeg==1.4
ffmpy==0.2.3
gi==1.2
idna==2.9
imutils==0.5.3
numpy==1.18.4
Pillow==7.1.2
playsound==1.2.2
pyftdi==0.51.2
pygame==1.9.6
pyglet==1.5.5
pyserial==3.4
python-xlib==0.27
PyUserInput==0.1.11
PyYAML==5.3.1
requests==2.23.0
rpi-ws281x==4.2.3
RPi.GPIO==0.7.0
six==1.15.0
svgwrite==1.4
sysv-ipc==1.0.1
tflite-runtime @ https://dl.google.com/coral/python/tflite_runtime-2.1.0.post1-c
urllib3==1.25.9
